In [10]:
import pandas as pd

In [11]:
df = pd.read_csv(r'C:\Users\Administrator\Desktop\ashoka\Data\gemstone.csv')
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [12]:
df.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [13]:
df = df.drop(labels=['id'],axis=1)

In [14]:
# Dividing the datset into Independent and Dependent Varribles 
x = df.drop(labels=['price'],axis=1)
y = df['price']

In [15]:
x ,y

(        carat        cut color clarity  depth  table     x     y     z
 0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
 1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
 2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
 3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
 4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77
 ...       ...        ...   ...     ...    ...    ...   ...   ...   ...
 193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67
 193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47
 193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62
 193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81
 193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48

 [193573 rows x 9 columns],
 0         13619
 1         13387
 2          2772
 3           666
 4         14453
           ...
 193568     1130
 193569     2874
 193570     3036
 193571      681
 193572     2258
 Name: price, Length: 193573, dtype: int64)

In [16]:
# Here dividing the data into categorical cloumns sepertae and neumearical cloumns seperate
categrocal_clos = x.select_dtypes(include='object').columns
neumerical_clos = x.select_dtypes(exclude='object').columns

In [24]:
categrocal_clos

Index(['cut', 'color', 'clarity'], dtype='object')

In [17]:
# we need assisgn the ranking for the oridinal values 
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [22]:
from sklearn.impute import SimpleImputer # Handling the null values 
from sklearn.preprocessing import StandardScaler # for Standardzing the values 
from sklearn.preprocessing import OrdinalEncoder # Encodin the ordoinal values
## Pipelines 
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [25]:
## Neumerical Pipeline 
neumerical_pipeleine = Pipeline(
    steps=[
        ('Imputer',SimpleImputer(strategy='median')),
        ('Scaler',StandardScaler())
    ]
)

## Catgorical Pipeline 
categorical_pipeline = Pipeline(
    steps = [
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('Encoding',OrdinalEncoder(categories=['cut', 'color', 'clarity'])),
        ('scaler',StandardScaler())
    
    ]
)

preprocessor = ColumnTransformer([
    ('neumerical_Pipeline',neumerical_pipeleine,neumerical_clos),
    ('categrocal_Pipeline',categorical_pipeline,categrocal_clos)
])